# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Code
*.py @domcharrier
*.pyx @domcharrier
*.pxd @domcharrier
*.sh @domcharrier
*.cfg @domcharrier
*.toml @domcharrier
Jenkinsfile @domcharrier

