[flake8]
ignore = E501, W503
  # legend:
  # E501 - line too long (> 79 characters)
  # W503 - line break before binary operator
examples/test_examples.py:78:17: W503 line break before binary operator
max-line-length = 79
max-complexity = 18
select = B,C,E,F,W,T4,B9
